:root {
  --text: #353535ff;
  --back: #f5f5f5ff;
  --fore: #D1D9DB;
  --active: #3F88C5;
  --activeh: #3F88C599;
  --select: #3F88C599;
}
::selection {
  background-color: var(--select);
}
html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px;
  background-color: var(--back);
  color: var(--text);
}


header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: var(--back);
}
header > div {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -5px 10px 5px black;
}
h1 {
  font-size: 2rem;
  padding: 1rem;
}
.nav-toggle {
  font-size: 2rem;
  padding: 1rem;
}
nav {
  display: none;
}
.nav-open {
  
  box-shadow: 0px -5px 10px 5px black;
}

.nav-open nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
}


#hem p {
  padding-top: 1rem;
}

#hem img {
  padding-top: 1rem;
}

#hem > div {
  background-color: red;
  padding: 1rem;
}